@charset 'utf-8';
@import url('./basic.css');

body{border: 2px solid black;
margin:0;}

head{display: block;
border: 4px solid lime;}

title{display:block;
    border: 1px solid blue;}

span, strong{border: 1px solid red;}

em{border:1px solid green}
/*strong{border: 1px solid blue}*/
h3{color:red;
background-color: yellow;
/* border-left-color:blue;
border-left-style: solid;
border-left-width: 2px;
border-left: 2px solid blue;
border-right: 2px solid red;
border-top: 2px solid orchid;
border-bottom: 2px solid green; */
border: 2px solid black;
}
.wrap{color:gray}
